.AppDetail{
    margin-left: 16rem;
    background-color: #1F1F1F;
    width: 100%;
    min-height: 100vh;
}

.AppDetail .chart{
    width: 45%;
}

.AppDetail .title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.AppDetail .title p{
    font-size: 4rem;
    color: white;
    margin-left: 1rem;
}

.AppDetail .actionButtons img{
    width: 2.5rem;
    margin-right: 0.5rem;
}

.AppDetail .title img{
    width: 5rem;
}

.AppDetail .actionButtons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.AppDetail .actionButtons button{
    width: 30%;
    font-size: 1.25rem;
    color: white;
    background-color: #3a3a3a;
    border: none;
    height: 5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AppDetail .infoButtons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.AppDetail .infoButtons img{
    width: 2.5rem;
    margin-right: 1rem;
}

.AppDetail .infoButtons .infoCard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    background-color: #3a3a3a;
    color: white;
    height: 5rem;
    border-radius: 10px;
    font-size: 1.25rem;
}

.AppDetail .infoButtons .infoCard .text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.AppDetail .parentChart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.AppDetail .parentChart .details{
    width: 45%;
    background-color: #3a3a3a;
    height: 100%;
    color: white;
    padding: 1rem;
    border-radius: 10px;
}

.AppDetail .parentChart .details .appInfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.AppDetail .parentChart .details P.heading{
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.AppDetail .carbonEmitted{
    background-color: black;
    color: white;
    width: max-content;
    margin: 2rem auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 1.25rem;
}

.AppDetail .carbonEmitted p.heading{
    font-weight: 600;
}

.AppDetail .tips{
    width: max-content;
    margin: 1rem auto;
    color: white;
    background-color: rgba(0, 255, 0, 0.2);
    padding: 1rem 2rem;
    border-radius: 10px;
}

.AppDetail .tips p{
    margin-top: 0.5rem;
    font-size: 1rem;
}

.AppDetail .tips p.head{
    font-weight: 500;
    font-size: 1.15rem;
}